{% extends "shared/_layout.html" %}


{% block main_content %}

{% include "book/booktitle.html" %}


    <div class="text-blue-600 float-left w-1/2 h-screen px-3 py-3">
    <embed src="{{ book.path }}" class="w-full h-full pointer-events-all "/>
    </div>

    <div class="float-left w-1/2 px-3 py-3 h-screen overflow-scroll pb-8">
    <div class="w-full h-full items-center justify-center">

        {% for page, page_content in book['content'].items() %}
            {% include "book/player.html" %}
            {% include "book/bookpage.html" %}
        {% endfor %}

    </div>
    </div>


{% endblock main_content %}
