<div hx-target="this" hx-swap="outerHTML" class="flex mx-auto items-center justify-center h-20 bg-amber-200 width-screen">
    

    {% if audio is defined %}
        <audio controls>
            <source src="audio?id={{ id }}&page={{ page }}" type="audio/wav">
        </audio>
    {% else %}
        <form hx-get="/player?id={{ book.id }}&page={{ page }}">

        
            {% if message is defined %}
                <button class="btn btn-primary" > Read this page </button >
                 <span class="popuptext" id="myPopup">A Simple Popup!</span>
            {% else %}
                <button class="btn btn-primary" > Read this page </button >
            {% endif %}

    </form>
    {% endif %}
    
</div>
