<div hx-target="this" hx-swap="outerHTML" class="flex mx-auto items-center justify-center h-20 bg-amber-200 width-screen">
    

    {% if audio is defined %}
        <audio controls>
            <source src="audio?id={{ id }}&page={{ page }}" type="audio/wav">
        </audio>
    {% else %}
        <form hx-get="/player?id={{ book.id }}&page={{ page }}">

        <button class="btn btn-primary" >
            {% if message is defined %}
                {{ message }}
            {% else %}
                Read this page
            {% endif %}

        </button >
    </form>
    {% endif %}
    
</div>
