
{% extends "shared/_layout.html" %}

{% block main_content %}
    <div class="px-[10%] py-[5%]">
    <p> Hi! I create this PDF reader as a toy project, to read my own pdfs while doing stuffs like chopping onions or whatnot .</p>
    <br>

    <p> The stack is HTMX, Flask with Jinja templating. The reader is straight up from StyleTTS2 <a  href="https://github.com/yl4579/StyleTTS2/" class="text-cyan-800">https://github.com/yl4579/StyleTTS2/</a></p>
    <br>
    <p> Please leave a issue on <a href="https://github.com/VuongNM/readmybook" class="text-cyan-800">Github repo</a> or shoot a message my way at vuongnguyen 71 0 at gmail dot com.</p>
    </div>
{% endblock main_content %}
    
